#LocationButton{
    margin-top: 5%;
}
.MapContainer > div{
    background-color: whitesmoke;
    padding: 35px 50px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
