.UserAvatarDiv{
    position: absolute;
    /* margin-top: 12vh; */
    bottom: -62px;
}
.UserAvatarImg:first-child{
    width: 120px;
    height: auto;
    border: 5px solid white;
}
.inputUpload{
    display: none;
}