.UserForm{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    padding: 5vw;
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.UserForm__UserMail{
    display: flex;
    justify-content: space-between;
}
.UserForm__UserMail > div{
    width:48%;
}
#radioButtons{
    flex-direction: row ;
}
.BioForm{
    display: flex;
    flex-direction: column;
}
.TextArea{
    max-width: 600px;
    max-height: 200px;
    margin-bottom: 50px;
}